.container {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
}

.cat {
	height: 80%;
}

.cat__name {
	text-align: center;
}

.main-img {
	height: 100%;
	width: 100%;
}

.main-img:hover {
	cursor: pointer;
}

.clicks-counter {
	text-align: center;
	font-size: 40px;
}
